body {
	text-align: center;
}
#skin {
	background: #5C6366;
	width: 700px;
	margin: 10px auto;
	padding: 50px;
	border: 2px black auto;
	border-radius: 30px;
}

nav {
	margin: 2px 0px;
}

#buttons {
	float: left;
	width: 70px;
	height: 20px;
	margin-left: 20px;/* 90px total 610 remaining*/
}

#defaultBar {
	margin-top: 5px;
	position: relative;
	width: 500px;
	float : left;
	height: 5px;
	background-color: black;
}
#progressbar {
	position: absolute;
	width: 0px;
	height: 5px;
	background-color: white;
	}