@media screen and (min-width:480px){
	#primary {
		width: 50%;
		FLOAT: LEFT;
	}
	
	#secondary {
		width: 40%;
		float: right;
	}
	
	#gallery li {
		width: 28.3333%;
	}
	
	#wrapper .about-info  #propic {
		float: left;
		padding-top: 5px;
		margin: 0 5% 80px 0;
	}
	
	 .about-info h3{
		margin-top: 0;
	}
}

@media screen and (min-width:660px){
	/*header*/
	
	nav {
		background: none;
		float: right;
		font-size: 1.125em;
		margin-right: 5%;
		text-align: right;
		width: 45%;
	}
	
	#logo {
		float: left;
		margin-left: 5%;
		text-align: left;
		width: 45%;
	}
	
	h1 {
		font-size: 2em;
	}
	
	h2{
		font-size: 0.825em;
		margin-bottom: 20px;
	}
	
	header {
		border-bottom: 5px solid #599a68;
		margin-bottom: 60px;
	}
}
